<app-navbar></app-navbar>

<div class="bg-image text-center p-5" style="background-image: url('https://images.unsplash.com/photo-1607013251379-e6eecfffe234?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');height: 400px;">
    <div class="text-white">
            
        <h4>Its All About Good Food</h4>
        <h2 class="mb-3">XY FOOD STORE</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" >
                        <img src="https://assets.thehansindia.com/h-upload/2020/03/14/953945-food.webp" class="card-img-top" alt="...">
                        
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="container mt-3">
                        <h2>About us</h2>
                            <p>Our Chefs offer you perfect cooking,Best Served dishes with fresh ingredients and old recipes.We provide
                                you with daily self made bread,vegetarian and Non vegetarian food.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

